<!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.adminIndex') }}">
          <i class="mdi mdi-view-dashboard menu-icon"></i>
          <span class="menu-title">Anasayfa</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.adminUsers') }}">
          <i class="mdi mdi-account-multiple-outline menu-icon"></i>
          <span class="menu-title">Kullanıcılar</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.mysetting') }}">
          <i class="mdi mdi-account-badge menu-icon"></i>
          <span class="menu-title">Ayarlarım</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.adminMailSetting') }}">
          <i class="mdi mdi-mail-ru menu-icon"></i>
          <span class="menu-title">Mail Ayarları</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href= "#site_settings">
          <i class="mdi mdi-settings menu-icon"></i>
          <span class="menu-title">Site Ayarları</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home.chat') }}">
          <i class="mdi mdi-settings menu-icon"></i>
          <span class="menu-title">Sohbet</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">
          <i class="mdi mdi-exit-to-app menu-icon"></i>
          <span class="menu-title">Çıkış</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- partial -->