{%  for i in range(15) %}
<div class="row">
    <div class="col-md-12">
        <div class="receivermsgbox">
            <p>
                Alıcı mesajı
                <span>
                    9 Aralık 2020 12:43
                </span>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="sendermsgbox">
            <p>
                Gönderilen mesaj
                <span>
                    9 Aralık 2020 12:43
                </span>
            </p>
        </div>
    </div>
</div>
{% endfor %}