{% extends "admin/layout.html" %}
{% block head %}
<title>Ayarlarım</title>
{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <div class="col-8" style="float:left; ">Ayarlarım</div>
              <button title="Parola değiştir" type="button" class="btn btn-primary btn-icon float-right" data-toggle="modal" data-target="#changepass">
                 <i class="mdi mdi-textbox-password"></i>
              </button>
              <button style="margin-right: 5px;" title="Resim değiştir" type="button" class="btn btn-primary btn-icon float-right" data-toggle="modal" data-target="#changeimage">
                 <i class="mdi mdi-image"></i>
              </button>
              <a style="margin-right: 5px;" class="btn btn-primary float-right" href="{{ url_for('controller.admin') }}">Geri</a>
          </div>
        <div class="card-body">
        {% include 'partials/_flashmessages.html' %}
            <form method="POST" action="{{ url_for('controller.adminmysetting') }}" autocomplete="off">
                <div class="form-group">
                    <label class="control-label" for="name">Adınız</label>
                    <div>
                      <input type="text" class="form-control" name="name" id="name" value="{{ user.name}}" required />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="surname">Soyadınız</label>
                    <div>
                      <input type="text" class="form-control" name="surname" id="surname" value="{{ user.surname}}" required />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="gender">Cinsiyetiniz</label>
                    <div>
                        <select class="form-control" id="gender" name="gender">
                            {% if user.gender == "K" %}
                            <option value="E">Erkek</option>
                            <option value="K" selected>Kadın</option>
                            {% else %}
                            <option value="E" selected>Erkek</option>
                            <option value="K">Kadın</option>
                            {% endif%}
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="email">Eposta adresiniz</label>
                    <div>
                    <input type="text" class="form-control" name="email" id="email" value="{{ user.email}}" required />
                    <span class="help-block text-muted">*Dikkatli olunuz. E-postanızı kontrol ederek yazınız. Aktivasyon ve bildirim e-postaları yazacağınız e-posta adresine iletilecektir.</span>
                    </div>
                  </div>
                <div class="form-group">
                    <button type="submit" name="event" value="updatemysetting" class="btn btn-primary">Güncelle</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

<!-- modal başla-->
<div class="modal fade" id="changepass" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Parola Değiştir</div>
            <form class="form col-sm-12" action="{{url_for('controller.adminmysetting')}}" method="POST">
              <div class="form-group">
                <label class="control-label" for="oldpass">Mevcut Parolanız</label>
                <div>
                  <input type="password" class="form-control" id="oldpass" placeholder="Mevcut parolanızı giriniz..." name="oldpass" required />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="newpass">Yeni Parolanız</label>
                <div>
                  <input type="password" class="form-control" id="newpass" placeholder="Yeni parolanızı giriniz..." name="newpass" minlength="6" required />
                </div>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary" name="event" value="changepass">Değiştir</button>
                  <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Kapat</button>
              </div>
            </form>
        </div>
    </div>
</div>
<!-- modal bitiş-->
<!-- modal başla-->
<div class="modal fade" id="changeimage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Resmi Değiştir</div>
            <form class="form col-sm-12" action="{{url_for('controller.adminmysetting')}}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="userfile">Resminizi güncellemek için seçiniz.</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input"
                            accept="image/*"
                            name="userfile"
                            id="userfile"
                            onchange="validateFileType()" />
                        <label class="custom-file-label" for="userfile" data-browse="Seç">Resim Seçiniz</label>
                    </div>
                </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary" name="event" value="changeimage">Değiştir</button>
                  <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Kapat</button>
              </div>
            </form>
        </div>
    </div>
</div>
<!-- modal bitiş-->
<script>
    // seçilen dosya adını file inputa aktarıyor
    $("#userfile").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    // resim kontrolü yapıyor
    function validateFileType(){
        var fileName = document.getElementById("userfile").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
            //to do
        }else{
            alert("Sadece jpg, jpeg ve png formtında resim kabul etmekteyiz");
            document.getElementById("userfile").value="";
        }
    }
</script>
{% endblock %}