<!DOCTYPE html>
<html lang="tr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TrakyaTekno Parola Sıfırla</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='mdi/css/materialdesignicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
                {% include 'partials/_flashmessages.html' %}
              <div class="brand-logo">
                <img src="{{ url_for('static', filename='img/') }}{{ logo }}" alt="logo">
              </div>
              <h4>Hoşgeldin!</h4>
              <h6 class="font-weight-light">Parolanı mı unuttun. Dert etme çözülür.</h6>
              <form class="pt-3" method="POST">
                <div class="form-group">
                  <label for="pass">Yeni parola</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="password" class="form-control form-control-lg border-left-0" minlength="5" name="pass" id="pass" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="pass2">Yeni Parola Yeniden</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="password" class="form-control form-control-lg border-left-0" minlength="5" name="pass2" id="pass2" required>
                  </div>
                </div>
                <div class="my-3">
                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">
                        Onayla
                    </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">
                Copyright ©
                <script>document.write(new Date().getFullYear());</script>
                <a href="https://github.com/serhatturkmen" target="_blank">DoT</a>. Tüm hakları saklıdır.
            </p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <script src="{{url_for('static', filename = 'js/jquery-3.4.1.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
</body>
</html>
